.footer {
	// .footer__top
	&__top {
	}

	// .footer__bottom
	&__bottom {
	}
}
.top-footer {
	padding-block-start: toRem(40);
	padding-block-end: toRem(40);

	@media (min-width: $bp-desktop-lg) {
		padding-block-start: toRem(140);
		padding-block-end: toRem(90);
	}
	// .top-footer__container
	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: toRem(15) toRem(56);
	}

	// .top-footer__main
	&__main {
		display: flex;
		flex-direction: column;
		gap: toRem(20) toRem(10);
		flex-basis: toRem(392);
		flex-grow: 0;

		@media (min-width: $bp-mobile) {
			gap: toRem(32) toRem(10);
		}
	}

	// .top-footer__text
	&__text {
		line-height: 1.925;
	}

	// .top-footer__social
	&__social {
	}

	// .top-footer__menu-nav
	&__menu-nav {
	}
}

.social {
	// .social__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: toRem(10) toRem(36);
	}

	// .social__item

	&__item {
	}

	// .social__link
	&__link {
		transition: transform 0.3s;

		.icon {
			@include size(20, 20);
			color: var(--color-icon-dark);
			transition: color 0.3s;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.menu-nav {
	display: flex;
	justify-content: space-between;
	gap: toRem(30);
	flex-grow: 1;
	flex-wrap: wrap;

	// .menu-nav__title
	&__title {
		font-weight: 600;
		text-transform: uppercase;
	}

	// .menu-nav__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(12);
	}

	// .menu-nav__item
	&__item {
	}

	// .menu-nav__link
	&__link {
		font-size: toRem(14);
		line-height: 1.714;
		transition: color 0.3s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-red);
			}
		}
	}

	// .menu-nav__info,
	// .menu-nav__services,
	// .menu-nav__navigation
	&__info,
	&__services,
	&__navigation {
		display: flex;
		flex-direction: column;
		gap: toRem(22);

		@media (min-width: toEm(599.98)) {
			flex-basis: auto;
		}
	}
}
.bottom-footer {
	color: var(--color-white);
	background-color: var(--bgcolor-footer);
	// .bottom-footer__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-block: toRem(10);
		gap: toRem(15) toRem(10);
	}

	// .bottom-footer__payment-list
	&__payment-list {
		@media (max-width: toEm(599.98)) {
			order: -1;
			align-self: center;
		}
	}

	// .bottom-footer__payment-item
	&__payment-item {
	}

	// .bottom-footer__link
	&__link {
		display: inline-flex;
		align-items: center;
		gap: toRem(4);
		transition: color 0.3s;

		.icon {
			color: var(--color-icon-footer);
			transition: color 0.3s;
			@include size(14, 14);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-red);
				.icon {
					color: var(--color-red);
				}
			}
		}
	}
}
.copyright {
	span {
		font-size: toRem(12);

		@media (min-width: toEm(599.98)) {
			font-size: toRem(16);
		}
	}
}
