/* .popular */

.popular {
	position: relative;
	// .popular__container
	&__container {
	}

	// .popular__title-box
	&__title-box {
		text-align: center;
		margin-block-end: toRem(20);

		@media (min-width: toEm(1439.98)) {
			padding-inline-start: toRem(18);
			text-align: center;
			position: absolute;
			writing-mode: vertical-lr;
			transform: rotate(180deg) translateX(100%);
		}
	}

	// .popular__title
	&__title {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: toRem(34);
		line-height: 1.25;
		text-transform: uppercase;
	}

	// .popular__cards
	&__cards {
		display: grid;
		gap: toRem(24);
		grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(toRem(250), 1fr));
	}

	// .popular__card
	&__card {
		position: relative;
		overflow: hidden;
		color: $color-white;

		@media (min-width: toEm(550)) {
			&:nth-child(10n + 1),
			&:nth-child(10n + 8) {
				grid-column: span 2;
				grid-row: span 2;
			}

			&:only-child {
				grid-column: span 4;
				grid-row: span 2;
			}
		}
	}

	// .popular__link
	&__link {
	}

	// .popular__image
	&__image {
		inline-size: 100%;
		block-size: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;

	}

	// .popular__labels
	&__labels {
		position: absolute;
		top: toRem(22);
		left: 0;
		z-index: 10;

		:not(:last-child) {
			margin-block-end: toRem(5);
		}
	}

	// .popular__label
	&__label {
		inline-size: toRem(52);
		block-size: toRem(24);
		padding: toRem(4) toRem(12);
		text-transform: uppercase;
		font-size: toRem(12);
		font-weight: 600;
		text-align: center;
	}

	// .popular__label--bg--primary
	&__label--bg--primary {
		background-color: $bgcolor-red;
	}

	// .popular__label--bg--black
	&__label--bg--black {
		background-color: #202831;
	}

	// .popular__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		left: 0;
		inline-size: 100%;
		min-block-size: toRem(52);
		padding: toRem(14) toRem(15);
		background-color: $color-dark;
		gap: toRem(10);
		font-weight: 600;
		line-height: 1.1;
		border: toRem(1) solid $color-dark;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s,
			visibility 0.5s;
	}

	// .popular__sub-title
	&__sub-title {
	}

	// .popular__number
	&__number {
	}

	@media (any-hover: hover) {
		&__card:hover &__bottom {
			opacity: 1;
			visibility: visible;
		}
	}
}
